@media(max-width: 747px){
    .navbar img{
        width: 60px;
        height: 60px;
    }

    .container-fluid p{
        font-size: 24px;
    }

    .quizcard{
        width: 25rem;
    }

    .img-end{
        height: 250px !important;
    }
}

@media(max-width: 570px){
    .responsiveButton{
        display: block;
    }

    .responsiveMenu{
        display: flex;
        justify-content: space-between;
        margin: 8px 32px 8px 32px;
    }

    .responsiveMenu p:hover{
        color: white;
        cursor: pointer;
    }

    .quizcard{
        width: 25rem;
    }

    .mainpage{
        display: block;
    }

    .container-fluid {
        margin-top: unset;
        flex-direction: row;
        align-items: center !important;
    }

    .container-fluid p{
        display: none;
    }

    .navbar img{
        width: 50px;
        height: 50px;
    }

    .question-card{
        height: unset;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .card-text{
        text-align: center;
    }

    .card-title{
        text-align: center;
    }

}

@media(max-width: 340px){
    .img-end{
        height: 200px !important;
    }
}