html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: rgb(14, 0, 63) !important;
}

.mainpage{
    display: flex;
}

.navbar{
    background-color: rgb(50, 2, 88);
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.navbar img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 16px;
    cursor: pointer;
}

.container-fluid{
    margin-top: 32px;
    flex-direction: column;
    align-items: flex-start !important;
}

.container-fluid p{
    font-family: 'Major Mono Display', monospace;
    font-size: 28px;
    color: rgb(253, 172, 91);
    margin: 16px;
    margin-bottom: 16px;
}

.container-fluid p:hover{
    font-family: 'Major Mono Display', monospace;
    color: white;
    cursor: pointer;
}

.quizcard{
    width: 35rem;
}

.question-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card img{
    height: 300px;
    object-fit: cover;
    margin-bottom: 8px;
}

.progress{
    height: 8px !important;
}

.answer{
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.answer:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.bottom-line{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.card-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.bg-success, .bg-danger{
    color: white;
}

.text-center{
    text-align: center;
}

.img-end{
    height: 400px !important;
}

.bottom-line{
    flex-direction: column;
}

.bottom-line button{
    margin-bottom: 16px;
}